
.form-group{
    display:flex;
    flex-direction:column;
    margin-bottom:15px;
}

label{
    margin-bottom:6px;
    font-weight:bold;
}

input,
select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
}
